@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: "Roboto",sans-serif;
    color: var(--primarybody-color);
    background-color: #ffffff;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primarybrand-color);
    text-decoration: none;
}
.logo-span{
    color: var(--primarydark-color);
}
.list{
    list-style: none;
}
.main-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primarydark-color);
    text-decoration:none;
}
:root{
 --primarybrand-color: #4d5ae5;
 --primarydark-color: #2E2F42;
 --primarybody-color: #434455;
 --pressedstate-color: #404bbf;
}
.main-link:hover{
    color: #404bbf;
}
.main-link:focus{
    color: #404bbf;
}
.address{
    font-style: normal;
}
k{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primarybody-color);
}
.address-link:hover{
color: var(--pressedstate-color);
}
.address-link:focus{
color: var(--pressedstate-color);
}
